@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

.type-pause-button {
  position: absolute;
  top: 150px;
}
.icon-pause-circle-fill:before {
  content: "\e600";
  font-size: 4em;
  color: #666;
}
.icon-play-circle-fill:before {
  content: "\e601";
  font-size: 4em;
  color: #666;
}
a {
  text-decoration: none;
}

.title {
  text-align: center;
  padding: 30px 0px 40px;
}
.title h5 {
  color: rgb(255, 255, 255);
}
.white .title h5 {
  color: rgb(255, 255, 255);
}
.dynamic-title {
  float: none;
  display: table;
  width: auto;
  font-family: sans-serif;
  font-size: 55px;
  line-height: 38px;
  font-weight: 800;
  text-transform: capitalize;
}

div#text-btn button {
  position: absolute;
  display: inline-block;
  top: 200px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: 0.3s background;
  outline: none;
  font-size: 15px;
  font-family: "Roboto Black", "Helvetica", sans-serif;
  font-weight: 300;
}
div#text-btn button:hover {
  background: rgba(0, 0, 0, 0.5);
}
.pause-btn.transparent {
  background: transparent;
}
span.gold-title {
  margin: -10px 0;
  /* color: #FFC11F; */
  color: rgba(var(--bs-danger-rgb)) !important;
  font-family: sans-serif;
  line-height: 38px;
  font-weight: 800;
}

/* -------------------------------- 

Primary style

-------------------------------- */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-style: normal;
}
.cd-words-wrapper i {
  font-style: normal;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #0d0d0d;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

.cd-headline.slide span {
  display: inline-block;
  padding: 0.2em 0;
}
.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0;
  top: 0.2em;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* -------------------------------- 

xclip 

-------------------------------- */

.cd-headline.clip span {
  display: inline-block;
  padding: 0.2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
/* ******************************************* */

.dynamic-title {
  font-size: 4vw;
}
/* *******************Testinomial */
.carousel-control-prev {
  position: absolute;
  top: 12%;
  bottom: 0;
  left: 82%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 0;
  height: 60px;
  background: var(--bg-color-w);
  box-shadow: var(--box-shadow-w);
  text-align: center;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.carousel-control-next {
  position: absolute;
  top: 12%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 0;
  right: 35px;
  height: 60px;
  background: var(--bg-color-w);
  box-shadow: var(--box-shadow-w);
  text-align: center;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.test-detail > p {
  margin-top: 20px;
  color: var(--font-cl);

  font-size: 18px;

  line-height: 30px;
}
/* .carousel-control-prev > span > i > svg {
  color: #ff3144;
    font-weight: 500;
    font-size: 18px;
} */
/* .carousel-control-next > span > i > svg {
  color: #ff3144;
    font-weight: 500;
    font-size: 18px;
} */
/* ------------------------------------------------------------------------------- */

/* ********************------------ Responsive --------- */

/* ---------------------------------------------------------------------------------- */
/* ******************slider hover button  */
.image2 {
  width: 200px;
  text-align: center;
  margin: auto;
}
.image2 > .acordian {
  position: fixed;
  left: -203px;
  top: 30%;
  padding: 10px;
  transition: 0.76s ease-in-out;

  height: 280px;
  transform: rotate(90deg);
}
.image2 > .acordian:hover {
  left: 0;
}
.image2 > .acordian > .header > p {
  font-size: 20px;
  font-weight: 600;
}
.image2 > .acordian > .header {
  width: 200px;
  border-radius: 7px 7px 0px 0px;
}
.image2 > .acordian > .acordian-detail {
  position: relative;
  top: 28px;
  height: 142px;
  box-shadow: var(--box-shadowinside);
  transform: rotate(-90deg);
  background-color: #191919;
  color: red;
}
/* *******************************************  1281 to 1026 */
@media screen and (max-width: 1280px) and (min-width: 1026px) {
  .title > span {
    float: none;
    display: table;
    width: auto;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 0px;
    font-weight: 800;
    text-transform: capitalize;
  }
  .cd-words-wrapper {
    font-size: 50px;
  }
}

/* ************************************************************* 1024 */

@media (max-width: 1025px) {
  .calculate-btn {
    width: 73%;
    transform: rotate(45deg);
  }
  /* ************* slider */
  .title > span {
    float: none;
    display: table;
    width: auto;
    font-family: sans-serif;
    font-size: 39px;
    line-height: 0px;
    font-weight: 800;
    text-transform: capitalize;
  }
  .cd-words-wrapper {
    font-size: 40px;
  }
  .icon-box > ul > li {
    cursor: pointer;
    border: none;
    background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.1s;
    margin: 7px 10px;
    display: inline-block;
    box-shadow: var(--box-shadowinside);
    text-transform: uppercase;
  }
  .icon-box1 > ul {
    padding: 0;
  }
  /* *************************** icon testinomial */
  .carousel-control-next {
    position: absolute;
    top: 38%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 0;
    right: -50px;
    height: 60px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  .carousel-control-prev {
    position: absolute;
    top: 38%;
    bottom: 0;
    left: -9%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 0;
    height: 60px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  .test-detail {
    margin-top: 0;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
  }
}
/* **********************************************************  854px */
@media screen and (max-width: 854px) and (min-width: 769px) {
  .res-detail > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    padding: 0px 30px;
    font-size: 18px;
    color: #d4d1d1;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    box-shadow: var(--box-shadowinside);
    /* background: var(--bg-color-w); */
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
}
/* *********************************************************** 768 width style */
@media (max-width: 768px) {
  /* ************************* cursor */
  .cursor-dot {
    display: none;
  }
  .curson-outline {
    display: none;
  }
  .cursor-dot,
  .curson-outline {
    display: none;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  .cursor-dot,
  .curson-outline {
    display: none;
  }

  .curson-outline {
    display: none;
  }
  /* ***************** Section !n 1 */

  .pt {
    padding-left: 0px;
    text-align: justify;
  }
  .p-end {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .p0 {
    padding: 0px !important;
  }
  .p1 {
    padding: 1rem;
  }
  .p5 {
    padding: 3rem;
  }
  .cd-words-wrapper {
    font-size: 7vw;
    white-space: normal; /* Allow text to wrap */
  }

  div#text-btn button {
    top: 150px; /* Adjust positioning */
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  span.gold-title {
    font-size: 7vw;
  }
  .title > span {
    font-size: 28px;
    line-height: 0px;
  }
  .user-detail > p {
    padding-right: 0px;
  }
  /* *********************** Section 3 */
  .res-detail > ul > li {
    font-weight: 650;
    padding: 0px 25px;
    font-size: 15px;
  }

  .res-detail > ul {
    height: 0px;
    letter-spacing: 1px;
  }
  /* *************** sectio 4 */

  /* ****************************** Testinomial */
  .p768 {
    padding: 0px;
  }
  .navbar-toggler {
    background-color: #c4cfde;
}

  .carousel-control-prev {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: -50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 0;
    height: 60px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  .carousel-control-next {
    position: absolute;
    top: 42%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 0;
    right: -60px;
    height: 60px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  .test-detail {
    text-align: justify;
    padding: 7px;
    margin-top: -30px;
    /* margin-top: 24px; */
    background: var(--bg-color-w);
    box-shadow: var(--box-shadowinside);
  }

  .test-icon {
    display: none !important;
  }
  .carousel-indicators {
    bottom: -47px;
    left: -52px;
  }
  .test-detail > p {
    margin-top: 10px;
    color: var(--font-cl);
    font-size: 16px;
    line-height: 30px;
  }
  /* *********************** toggle */
  .navbar-toggler button span svg {
    color: #dc3545;
    margin-top: -4px;
  }
  .navbar-toggler {
    background-color: #c4cfde;
  }
  /* ******************************* form */
  .image2 > .acordian > .acordian-detail {
    position: relative;
    top: 28px;

    height: 130px;
  }
  .image2 > .acordian > .header {
    width: 185px;
  }

  .image2 > .acordian {
    left: -195px;
    top: 5%;
  }
  .image2 > .acordian:hover {
    left: -1%;
  }
  /* ***************** Calculater */
  .calculate-btn {
    width: 70%;
    transform: rotate(45deg);
  }
}
/* ******************************************* ***************************************   430  */
@media screen and (max-width: 431px) and (min-width: 427px) {
  .res-detail > ul > li {
    font-weight: 650;
    padding: 0px 10px;
    font-size: 14px;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  /* testinmial */
  .test-detail {
    text-align: justify;
    padding: 7px;
    margin-top: 7px;
    margin-left: 10px;
    /* margin-top: 24px; */
    background: var(--bg-color-w);
    box-shadow: var(--box-shadowinside);
  }
  .p0 {
    padding: 3rem !important;
  }
  .test-detail > p {
    margin-top: 10px;
    color: var(--font-cl);
    font-size: 15px;
    line-height: 28px;
  }
  /* *************** H2 */
  .font-styleX {
    font-family: sans-serif;
    font-size: 55px;
    line-height: 46px;
    font-weight: 800;
  }
  .mt-5 {
    margin-top: 0px !important;
  }
}

/* *************************************************************************************** 425 */
@media screen and (max-width: 426px) {
  .fc-toolbar-chunk > .fc-button-group > .fc-prev-button,
  .fc-toolbar-chunk > .fc-button-group > .fc-next-button,
  .fc-toolbar-chunk > .fc-today-button {
    display: none !important;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  .p768 {
    padding: 3rem !important;
  }
  .fc .fc-toolbar-title {
    font-size: 1.75em;
  }
  .p0 {
    padding: 0px !important;
  }
  .fc-toolbar-chunk > h2 {
    font-size: 14px;
  }
  .fc-toolbar-chunk {
    font-size: 16px;
  }
  .d-non {
    display: unset !important;
  }
  .d-non > .about-img {
    left: 22%;
  }
  .d-non > .about-icon {
    margin-top: -20px;
  }
  .p2 {
    padding: 0px !important;
    margin-left: 10px;
  }
  .font-styleX {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 38px;
    font-weight: 800;
  }
  .mt0 {
    margin-top: 0px !important;
  }
  /* ************************* Testinomial  */
  .carousel-control-prev {
    position: absolute;
    top: 22%;
    bottom: 0;
    left: 0%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0;
    height: 40px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  .carousel-control-next {
    position: absolute;
    top: 22%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0;
    right: 0%;
    height: 40px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  .test-detail {
    text-align: justify;
    padding: 7px;
    margin-top: -30px;
    /* margin-top: 24px; */
    background: var(--bg-color-w);
    box-shadow: var(--box-shadowinside);
  }
  .test-detail > p {
    margin-top: 50px;
    color: var(--font-cl);
    font-size: 18px;
    line-height: 30px;
  }
  .test-icon {
    display: none !important;
  }
  .carousel-indicators {
    bottom: -47px;
    left: -52px;
  }
  /* /********************************** */

  .image2 > .acordian {
    position: fixed;
    left: -42%;
    top: 3%;
  }
  .image2 > .acordian:hover {
    left: -9%;
  }
  .pt > p {
    font-size: 13px;
    text-align: center;
  }
  .image2 > .acordian > .header {
    width: 130px;
    border-radius: 7px 7px 0px 0px;
  }
  .image2 > .acordian > .header > p {
    font-size: 15px;
    font-weight: 600;
  }
  .image2 > .acordian > .acordian-detail {
    position: relative;
    top: 28px;

    height: 78px;
  }
  /* ************* calculater */
  .calculate-btn {
    width: 65%;
    transform: rotate(45deg);
  }
  /* **********************portfolio */
  .res-detail > ul > li {
    font-weight: 650;
    padding: 0px 10px;
    font-size: 13px;
  }
}

/* ******************************************* 390 */
@media screen and (max-width: 391px) and (min-width: 378px) {
  .res-detail > ul > li {
    font-weight: 650;
    padding: 0px 10px;
    font-size: 11px;
  }
  
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  .title > span {
    font-size: 26px;
    line-height: 0px;
}
}

/* ************************************************************ &$^ 376*/
@media screen and (max-width: 377px) {
  .p768 {
    padding: 3rem !important;
  }
  .title > span {
    font-size: 25px;
    line-height: 0px;
}
  .image2 > .acordian > .header > p {
    font-size: 14px;
    font-weight: 600;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  .image2 > .acordian {
    position: fixed;
    left: -47%;
    top: 2%;
  }
  .image2 > .acordian:hover {
    left: -12%;
  }
  /* ************* calculater */
  .calculate-btn {
    width: 65%;
    transform: rotate(45deg);
  }
  /* **********************************portfolio */
  .res-detail > ul > li {
    font-weight: 650;
    padding: 0px 10px;
    font-size: 11px;
  }
  /* ***************************  */
  .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 53%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 0;
    height: 45px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15sease;
  }
  .carousel-control-next {
    position: absolute;
    top: 0%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 0;
    right: 15%;
    height: 45px;
    background: var(--bg-color-w);
    box-shadow: var(--box-shadow-w);
    text-align: center;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15sease;
  }
}
/* ********************************************  344 */
@media screen and (max-width: 345px) and (min-width: 323px) {
  .res-detail > ul > li {
      font-weight: 650;
      padding: 0px 9px;
      font-size: 10px;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
}
/* ******************************************* 320 */
@media screen and (max-width: 361px) and (min-width: 346px) {
  .res-detail > ul > li {
    font-weight: 650;
    padding: 0px 10px;
    font-size: 10px;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  .title > span {
    font-size: 24px;
    line-height: 0px;
}
}
/* ******************************************************************* 320 */
@media screen and (max-width: 321px) {
  .fc-toolbar-chunk > .fc-button-group > .fc-prev-button,
  .fc-toolbar-chunk > .fc-button-group > .fc-next-button,
  .fc-toolbar-chunk > .fc-today-button {
    display: none !important;
  }
  .icon-box1 > ul{
    padding-left: 2rem;
  }
  .p768 {
    padding: 3rem !important;
  }
  .fc .fc-toolbar-title {
    font-size: 1.75em;
  }
  .p0 {
    padding: 0px !important;
  }
  .fc-toolbar-chunk > h2 {
    font-size: 14px;
  }
  .fc-toolbar-chunk {
    font-size: 14px;
  }
  /* ***********portfolio */
  .res-detail > ul > li {
    font-weight: 650;
    padding: 1px 7px;
    font-size: 9px;
  }
  .title > span {
    font-size: 20px;
    line-height: 0px;
}
  /* ********************* */
  .image2 > .acordian {
    position: fixed;
    left: -55%;
    top: 2%;
  }
  .image2 > .acordian:hover {
    left: -13%;
  }
}

/* ********************* Stripe */
.p-FieldLabel {
  color: #ffff !important;
}
.p-Field > .Label {
  color: #ffff !important;
  margin-bottom: var(--p-spacing1);
  font-size: var(--fontSizeSm);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.p-FieldLabel .Label {
  color: #ffff !important;
  background-color: red;
}
